<tr>
    <td>{{project.nom}}  </td>
    <td>{{project.description}}</td>
    <td>{{project.cost}}</td>
    <td>{{project.createdAt | date("m-d-Y")}}</td>
    <td>
        <a href={{path('detail_project')}} class="btn btn-primary btn-sm">
            <i class="fa fa-eye mr-0"></i>
        </a>
        <a href={{path('form_add_project')}} class="btn btn-info btn-sm">
            <i class="fa fa-pencil mr-0"></i>
        </a>
    </td>
</tr>