{% extends 'layout.html.twig' %}
{% block content %}
    <body class="app sidebar-mini">
        <!-- Sidebar menu-->
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-users"></i>&nbsp;Suivi de {{employe.name ~' '~ employe.surname}}</h1>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Employés</a>
                    </li>
                    <li class="breadcrumb-item">Suivi de {{employe.name ~' '~ employe.surname}}</li>
                </ul>
            </div>
            {% for flash_type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ flash_type }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row">
                <div class="col-md-4">
                    <div class="tile">
                        <table class="table table-striped table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <th>Prénom</td>
                                    <td>{{employe.name}}</td>
                                </tr>
                                <tr>
                                    <th>Nom</td>
                                    <td>{{employe.surname}}</td>
                                </tr>
                                <tr>
                                    <th>Email</td>
                                    <td>{{employe.mail}}</td>
                                </tr>
                                <tr>
                                    <th>Métier</td>
                                    <td>{{employe.job.name}}</td>
                                </tr>
                                <tr>
                                    <th>Coût journalier</td>
                                    <td>{{employe.cost}}</td>
                                </tr>
                                <tr>
                                    <th>Date d'embauche</td>
                                    <td>{{employe.hired | date("m-d-Y")}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href={{path('edit_employe',{'id' : employe.id})}} class="btn btn-info">
                            <i class="fa fa-pencil"></i>Modifier
                        </a>
                    </div>

                    <div class="tile">
                        {{form_start(form)}}
                            <h3 class="title-title mb-4">Ajouter un temps</h3>
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label for="select-projects" class="control-label col-md-6">Projet concerné</label>
                                    <div class="col-md-6">
                                        {{form_errors(form.projet)}}
                                        {{form_widget(form.projet, {'attr':{'class' : 'form-control'}})}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="days-count" class="control-label col-md-6">Nombre de jours</label>
                                    <div class="col-md-6">
                                        {{form_errors(form.time)}}
                                        {{form_widget(form.time, {'attr':{'class' : 'form-control'}})}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-6 col-md-8">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
                                    </div>
                                </div>
                        {{form_end(form)}}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tile pb-5">
                        <h3 class="tile-title">Historique des temps de production</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>Projet</th>
                                        <th>Temps</th>
                                        <th>Date de saisie</th>
                                        <th>Coût total</th>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    {% for worktime in worktimes %}
                                    <tr>
                                            <td>{{worktime.projet.nom}}</td>
                                            <td>{{worktime.time}}</td>
                                            <td>{{worktime.createdAt | date("m-d-Y") }}</td>
                                            <td>{{worktime.projet.getTotalCost}} €</td>
                                    </tr>
                                    {% endfor %}               
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                        <nav class="float-right">
                            {{ knp_pagination_render(worktimes, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}  
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </body>
{% endblock %}