{% extends 'layout.html.twig' %}
{% block content %}
    <body class="app sidebar-mini">
        <!-- Sidebar menu-->
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-users"></i>&nbsp;{{project.nom}}</h1>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href={{path('project_list')}}>Projects</a>
                    </li>
                    <li class="breadcrumb-item">{{project.nom}}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="tile">
                        <table class="table table-striped table-bordered table-sm">
                            <tbody>
                                                               <tr>
                                    <th>Nom</td>
                                    <td>{{project.nom}}</td>
                                </tr>
                                <tr>
                                    <th>Prix de vente</td>
                                    <td>{{project.cost}} €</td>
                                </tr>
                                <tr>
                                    <th>Coût total</td>
                                    <td>{{project.getTotalCost}} €</td>
                                </tr>
                                <tr>
                                    <th>Date de creation</td>
                                    <td>{{project.createdAt | date("m-d-Y")}}</td>
                                </tr>
                                <tr>
                                    <th>Nombre d'employé ayant travaillé dessus </td>
                                    <td>{{nbWorkers}}</td>
                                </tr>
                                <tr>
                                <th>Terminé</td>
                                {% if project.DeliveredAt != null %}
                                    <td><span class="badge badge-success">OUI</span></td>
                                                                        </tr>
                                    <tr>
                                    <th>Terminé le </td>
                                    <td>{{project.DeliveredAt | date("m-d-Y")}}</td>
                                {% else %}
                                    <td><span class="badge badge-danger">NON</span></td>

                                {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        {% if project.DeliveredAt == null %}
                        <a href={{path('project_edit',{'id' : project.id})}} class="btn btn-info">
                            <i class="fa fa-pencil"></i>Modifier
                        </a>

                        <a href={{path('project_end',{'id' : project.id})}} class="btn btn-success">
                            <i class="fa fa-pencil"></i>Terminé le projet
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tile pb-5">
                        <h3 class="tile-title">Historique des temps de production</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Nombre de jours</th>
                                        <th>Coût total sur ce projet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for worktime in worktimes %}
                                    <tr>
                                        <td>{{worktime.employe.surname}}</td>
                                        <td>{{worktime.employe.name}}</td>
                                        <td>{{worktime.time}}</td>
                                        <td>{{worktime.employe.cost * worktime.time}} €</td>
                                    </tr>
                                {% endfor %}      
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                        <nav class="float-right">
                            {{ knp_pagination_render(worktimes, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}    
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </body>
{% endblock %}